body {
    background: url("../images/bgImage.jpg") no-repeat;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactFormContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.76);
}

.contactForm h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.contactForm p {
    padding-top: 25px;
    padding-bottom: 25px;
}

.personalInfo {
    display: flex;
    flex-direction: column;
}

.fieldLabel {
    min-width: 200px;
}

.label {
    display: flex;
    align-items: center;
}

.label .field, textarea, select {
    margin-bottom: 8px;
    padding: 8px;
    flex-grow: 1;
}

.label .field + .field{
    margin-left: 20px;
}

.telephoneInput {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fieldTel {
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 8px;
    padding: 8px;
}

.line {
    height: 10px;
    border-bottom: 1px solid white;
}

.personalInfo .submitBtn {
    font-weight: bold;
    border: 1px solid white;
    border-top: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .contactForm {
        padding: 20px;
    }

    .personalInfo {
        text-align: center;
    }

    .label {
        flex-direction: column;
    }

    .label .field, textarea, select {
        width: 100%;
        box-sizing: border-box;
    }

    .personalInfo .submitBtn {
        margin-right: auto;
    }

    .label .field + .field{
        margin-left: 0;
    }
}